<!DOCTYPE html>
<html lang="en">
<head>
    <title>SD Parfum</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <header class="topbar">
        <div class="container topbar-inner">
            <div class="brand">SD Parfum</div>
            <div class="search">
                <input id="q" type="search" placeholder="Tìm kiếm sản phẩm, thương hiệu…" />
                <button id="btn-search" title="Tìm kiếm">🔍</button>
            </div>
             <nav class="quick-links">
                <a href="index.html" >Tài khoản</a>
                <a href="login.html" >Giỏ hàng</a>
            </nav>
            </div>
    </header>
    <main>
        <a href="index.html" class="center">
            <img src="nuochoa.jpg" >
        </a>
    </main>    
    <footer class="footer">
        <div class="container">This is a demo.</div>
    </footer>
</body>
</html>