<!DOCTYPE html>
<html lang="en">
<head>
    <title>SD Parfum</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <header class="topbar">
        <div class="container topbar-inner">
            <a href="home.html" class="brand">SD Parfum</a>
        </div>
    </header>
    <main>
        <div class="login-container">
            <h2 class="center">Đăng nhập</h2>
            <form class="login-form">
                <input type="text" id="username" name="username" placeholder="Email hoặc SĐT" required>
                <input type="password" id="password" name="password" placeholder="Mật Khẩu" required>
                <button type="submit">Đăng nhập</button>
            </form>
            <div class="login-extra">
                <p><a href="#">Quên mật khẩu?</a></p>
                <p>Bạn chưa có tài khoản? <a href="#">Đăng ký</a></p>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">This is a demo.</div>
    </footer>          
</body>
</html>